$titles-font: 'HelveticaNowDisplay', sans-serif;
$text-font: 'HelveticaNowDisplayRegular', sans-serif;

h1, h2, h3, h4, h5, h6
{
    all: unset;
}

.caps
{
    text-transform: uppercase;
}

.f-16
{
    font-size: 16px;
    font-family: $text-font;
    font-weight: 400;
}

.f-24
{
    font-size: 24px;
    font-family: $text-font;
    font-weight: 400;
}

.f-120
{
    font-size: calc(120 / var(--to-rem));
    font-family: $titles-font;
    font-weight: 400;
    line-height: 1;
}