:root
{
    --black: #000;
    --white: #fff;

    --cw: 1680;
    --to-rem: var(--cw) * 100rem;

    --ease: 0.8s cubic-bezier(0.84, 0.00, 0.16, 1.00);
    --fast-ease: 0.6s cubic-bezier(0.84, 0.00, 0.16, 1.00);

    font-size: 1vw;
}

@media screen and (min-width: 1680px) 
{
    :root
    {
        font-size: 16.8px;
    }
}