---
const title = Astro.props.title;
---

<a href="" class="btn">
    <div class="btn-text">
        <span class="f-16 caps">{title}</span>
    </div>
</a>

<style>
.btn
{
    padding: 15px 45px;
    border: 1px solid var(--black);
    border-radius: 100vw;
    align-self: self-start;
}
</style>