---
import '../styles/components/hero.scss';
import Button from './Button.astro';
import Arrow from './Arrow.astro';
---

<header>
    <div class="container">
        <div class="hero">
            <div class="hero__title">
                <h1 class="f-120 caps">
                    transforming ideas into unique design and digital products
                </h1>
            </div>

            <div class="hero__bottom">
                <Button title="Let’s talk"/>
                <div class="hero__arrow">
                    <Arrow />
                </div>
            </div>
        </div>
    </div>
</header>