---
import Logo from "./Logo.astro";
import BurgerIcon from "./BurgerIcon.astro";
import '../styles/components/nav.scss'
---

<nav class="nav">
    <div class="container">
        <div class="nav__grid">
            <a href="" class="nav__logo">
                <Logo/>
            </a>
            <div class="nav__descr"> 
                <span class="f-16 caps">digital first design studio</span>
            </div>
            <BurgerIcon/>
        </div>
    </div>
</nav>